{% extends "base.html" %}
{% block title %}404 - Site not found{% endblock %}
{% block content %}
  <div class="ui one column centered stackable grid container">
      <div class="two column centered row">
          <div class="column" id="left">
              <div class="ui icon warning message">
                <i class="thumbs warning icon"></i>
                <div class="content">
                  <div class="header">
                    404 - Site not found
                  </div>
                  Followed a dead link? Tinkered around? This site however doesn't exist
                </div>
              </div>
          </div>
      </div>
  </div>

  <div class="ui two column centered stackable grid" id="grid">
      <div class="five column centered row">
          <div class="eight wide column">
              
          </div>
        </div>
    </div>
  </div>
{% endblock %}