{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block content %}
  <div class="ui one column centered stackable grid container">
      <div class="two column centered row">
          <div class="column" id="left">
              <div class="ui large violet message">
                <div class="content">
                  Last updated at <span style="color: violet;" id="last_updated">{{ data.lastUpdated|timestamp_to_time }}</span>
                </div>
              </div>
              <div class="ui icon blue message">
                <i class="thumbs info icon"></i>
                <div class="content">
                  <div class="header">
                    Experimental Site
                  </div>
                  This is a test site in order to automatically obtain the current Paysafecard to Elite*gold exchange price. Information provided without guarantee.
                </div>
              </div>
          </div>

          <div class="mobile only column" id="left">
              <div class="ui icon info message">
                <i class="mobile icon"></i>
                <div class="content">
                  You are visiting the mobile site.
                </div>
              </div>
            </div>
      </div>
  </div>

  <div class="ui two column centered stackable grid" id="grid">
      <div class="five column centered row">
          <div class="ui horizontal inverted divider">
            <p>Paysafecard <i class="exchange icon"></i> Elite*gold Exchange Median Price</p>
          </div>
          <div class="column">
              <h1 class="ui center aligned">1 € <i class="exchange icon"></i> {{ data.median|int }} Elite*gold</h1>
              <div class="ui center aligned">Based on <span style="color: violet;">all</span> created treasures in the last 30 days</div>
          </div>
          <div class="column">
              <h1 class="ui center aligned">1 € <i class="exchange icon"></i> {{ data.medianSold|int }} Elite*gold</h1>
              <div class="ui center aligned">Based on <span style="color: violet;">sold</span> treasures in the last 30 days</div>
          </div>

          <div class="ui horizontal inverted divider">
            <p><i class="exchange icon"></i>Elite*gold Converter</p>
          </div>
          <div class="column">
            <h3>Exchange Rate</h3>
            <div class="ui icon input"><input id="ex_euro" size="5" value="1" type="text"><i class="euro sign icon"></i></div> <i class="exchange icon"></i>
            <div class="ui right labeled input"><input id="ex_rate" size="5" value="{{ data.median|int }}" type="text"><div class="ui label">Elite*gold</div></div>
            <h3>Converter</h3>
            <div class="ui icon input"><input id="euro" size="5" type="text"><i class="euro sign icon"></i></div> <i class="exchange icon"></i>
            <div class="ui right labeled input"><input id="eg" size="5" type="text"><div class="ui label">Elite*gold</div></div>
          </div>

          <div class="ui horizontal inverted divider">
            <p><i class="history icon"></i>Last Paysafecard Treasures (30 days)</p>
          </div>
          <div class="twelve wide column">
              <table class="ui celled inverted table">
                <thead>
                  <tr>
                    <th>ID</th>
                    <th class="six wide">Title</th>
                    <th>Cost</th>
                    <th>Creation Date</th>
                    <th>Seller</th>
                    <th>Buyer</th>
                    <th>Ratio</th>
                  </tr>
                </thead>
                <tbody>
                  {% for treasure in data.treasureList|reverse %}
                    <tr>
                      <td><a href="https://www.elitepvpers.com/theblackmarket/treasure/{{ treasure.id }}">#{{ treasure.id }}</a></td>
                      <td>{{ treasure.title|e }}</td>
                      <td>{{ treasure.cost }}</td>
                      <td>{{ treasure.timestamp|timestamp_to_time }}</td>
                      <td><a href="https://www.elitepvpers.com/forum/member.php?u={{ treasure.sellerid }}">{{ treasure.sellername }}</a></td>
                      {% if treasure.buyerid %}
                        <td><a href="https://www.elitepvpers.com/forum/member.php?u={{ treasure.buyerid }}">{{ treasure.buyername }}</a></td>
                      {% else %}
                        <td></td>
                      {% endif %}
                      <td>1 <i class="exchange icon"></i> {{ treasure.ratio|int }}</td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
              <div class="column">
                Missing a treasure? Latest treasures are automatically retrieved every 6 hours<br>
                If a treasure still won't shop up after 6 hours, <a href="https://www.elitepvpers.com/forum/members/984054-der-eddy.html">contact me at elitepvpers</a> with the treasure in question
              </div>
          </div>
        </div>
    </div>
  </div>
{% endblock %}